p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 80px;
}

.container__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F1F1F2;
}
@media screen and (max-width: 480px), (min-width: 480px) {
  .container__card {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .container__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 480px), (min-width: 480px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (mbn-width: 1200px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Homemade Apple";
  font-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 2.17;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 400px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
@media screen and (max-width: 480px), (min-width: 480px) {
  .site-nav__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 480px), (min-width: 480px) {
  .site-nav__item {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 31px;
  }
}
.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  font-family: "Quicksand";
  font-size: 18px;
  font-style: sans-serif;
  font-weight: 400;
  line-height: 1.22;
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.button {
  font-family: Quicksand;
  font-size: 18px;
  line-height: 1.2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #F7941E;
  background-color: #FFFFFF;
  border: 1px solid #F7941E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

@media screen and (max-width: 480px), (min-width: 480px) {
  .button__header {
    width: 125px;
    height: 35px;
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .button__header {
    width: 140px;
    height: 40px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .button__header {
    width: 150px;
    height: 44px;
  }
}

.button__menu {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 40px;
}
@media screen and (max-width: 480px), (min-width: 480px) {
  .button__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .button__menu {
    display: none;
  }
}

.button__hero {
  width: 200px;
  height: 60px;
  color: #FFFFFF;
  background-color: #F7941E;
  margin-top: 52px;
}

.button__about {
  width: 200px;
  height: 60px;
  margin-top: 35px;
  color: #F7941E;
  background-color: #F1F1F2;
}

.hero__card {
  padding: 0;
  padding-left: 162px;
  padding-right: 126px;
  background-color: #F1F1F2;
}
.hero__title {
  font-family: Quicksand;
  font-size: 56px;
  line-height: 1.2;
}
.hero__paragraphe {
  font-family: Quicksand;
  font-size: 20px;
  line-height: 1.4;
  margin-top: 36px;
}

.about__card {
  padding: 0;
  padding-left: 112px;
  padding-right: 166px;
  background-color: #F1F1F2;
}
.about__title {
  font-family: Quicksand;
  font-size: 32px;
  line-height: 1.4;
}
.about__paragraphe {
  font-family: Quicksand;
  font-size: 20px;
  line-height: 1.4;
  margin-top: 23px;
}/*# sourceMappingURL=main.css.map */