.about {
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 112px;
        padding-right: 166px;
        background-color: map-get($color, 'hero-bcg-color');
    }

    &__title {
        font-family: map-get($text, 'second-text');
        font-size: 32px;
        line-height: 1.4;
    }

    &__paragraphe {
        font-family: map-get($text, 'second-text');
        font-size: 20px;
        line-height: 1.4;
        margin-top: 23px;
    }
}