.about {
    &__card {
        padding: 0;
        padding-left: 112px;
        padding-right: 166px;
        background-color: map-get($color, 'hero-bcg-color');
        // max-width: 1440px;
    }

    &__title {
        font-family: map-get($text, 'second-text');
        font-size: 32px;
        line-height: 1.4;
    }

    &__paragraphe {
        font-family: map-get($text, 'second-text');
        font-size: 20px;
        line-height: 1.4;
        margin-top: 23px;
    }
}