.button{
    font-family: map-get($text, 'second-text');
    font-size: 18px;
    line-height: 1.2;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: #F7941E;
    background-color: map-get($color, 'primary-bcg-color');
    border: 1px solid #F7941E;
    box-sizing: border-box;
    border-radius: 5px;
}

.button__header{
    @media screen and (max-width: 480px), (min-width: 480px) {
        width: 125px;
        height: 35px;
        font-size: 16px;
        // margin-right: 20px;
        // margin-left: 20px;
    }
    @media screen and (min-width: 768px) {
        width: 140px;
        height: 40px;
        font-size: 18px;
        // margin-right: 0;
        // margin-left: 30px;
    }
    @media screen and (min-width: 1200px) {
        width: 150px;
        height: 44px;
        // margin-left: 50px;
    }
}

.button__menu{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40px;
    @media screen and (max-width: 480px), (min-width: 480px){
        display: flex;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
    
}
.button__hero{
    width: 200px;
    height: 60px;
    color: map-get($color, 'primary-bcg-color');
    background-color: map-get($color, 'accent-color');
    margin-top: 52px;
}
.button__about{
    width: 200px;
    height: 60px;
    margin-top: 35px;
    color: map-get($color, 'accent-color');
    background-color: map-get($color, 'hero-bcg-color');
}