.header{
    @media screen and (max-width: 480px), (min-width: 480px) {
        display: flex;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;        
    }
    @media screen and (mbn-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}