.hero{
    max-width: 1440px;
    padding: 0;
    margin: 0 auto;
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 162px;
        padding-right: 126px;
        padding-top: 154px;
        padding-bottom: 135px;
        background-color: map-get($color, 'hero-bcg-color');
        width: 720px;
    }
    &__title {
        font-family: map-get($text, 'second-text');
        font-size: 56px;
        line-height: 1.2;
    }
    &__paragraphe {
        font-family: map-get($text, 'second-text');
        font-size: 20px;
        line-height: 1.4;
        margin-top: 36px;
    }
}