.invite{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: map-get($color, 'accent-color');
}
.invite__thumb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 85px;
    padding-left: 85px;
    background-color: map-get($color, 'accent-color');
}
.section__title--accented{}
.invite__title--accented{
    text-align: start;
}
.invite__title{
    font-weight: 400;
}
.invite__list{
    display: flex;
}
.invite__item{
    margin-right: 15px;
}