.logo {
    display: flex;
    margin-right: 20px;
    font-family: 'Homemade Apple';
    font-style: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 2.17;
    align-items: center;
    // text-align: center;
    @media screen and (min-width: 768px) {
        margin-right: auto;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 150px;
    }
}