.logo {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 80px;
    font-family: 'Homemade Apple';
    font-style: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 2.17;
    align-items: center;
    // text-align: center;
}