.site-nav{
    // @media screen and (max-width: 480px), (min-width: 480px) {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: baseline;
    // }
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list{
        display: flex;
        padding: 0;
        @media screen and (max-width: 480px), (min-width: 480px) {
            display: none;
        }
        @media screen and (min-width: 768px) {
            display: flex;
        }
        @media screen and (min-width: 1200px) {
            display: flex;
        }
    }
}

.site-nav__item{
    @media screen and (max-width: 480px), (min-width: 480px) {
        display: block;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        margin-right: 31px;
    }
    &:last-child{
        margin-right: 0;
    }
}

.site-nav__link{
    font-family: 'Quicksand';
    font-size: 18px;
    font-style: sans-serif;
    font-weight: 400;
    line-height: 1.22;
    @media screen and (min-width: 768px) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}